[submodule "RealEngine/vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "RealEngine/vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "RealEngine/vendor/glm"]
	path = vendor/glm
	url = https://github.com/icaven/glm.git
[submodule "RealEngine/vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/Andthehand/imgui.git
	branch = docking
[submodule "vendor/rapidyaml"]
	path = vendor/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "quill"]
	path = vendor/quill
	url = https://github.com/odygrd/quill.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
